@font-face {
	font-family: 'RobotoCondensed-Regular';
	src: url('robotocondensed-regular.woff2') format('woff2');
	font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nova Mono';
    src: url('novamono-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
