
#drop_zone {
    border: 5px dashed gray;
    border-radius: 25px;
    width:  60%;
    margin: 0% auto;
    height: 60%;
    color: gray;
    text-align: center;
    font-family: 'Consolas', monospace;
    font-size: 24pt;
}

